#sidebar {
	position: fixed;
	width: 200px;
	height: 100vh;
	background: #EFEFEF;
	border-right: 1px solid #ccc;
	padding: 1rem;
	box-sizing: border-box;
	overflow-y: auto;
}

.sidebar-logo img {
	width: 80%;
}

.sidebar-logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.sidebar-title {
	text-align: center;
}

.sidebar-menu {
	display: flex;
	flex-direction: column;
}

#main-page-content {
	margin-left: 220px;
	padding: 1rem;
}

body, p {
	margin: 0;
	font-family: Georgia, serif;
}

contents {
	border: 1px solid #000;
	display: inline-block;
	padding: 1rem;
	margin: 1rem 0 0 0;
	background: #EFEFEF;
}

figure {
	border: 1px solid #000;
	padding: 0.2rem;
	max-width: 300px;
	max-height: 300px;
	float: right; 
	clear: right;
	background: #EFEFEF;
}

img {
	max-width: 300px;
	max-height: 250px;
}

.gallery-item {
	max-width: 300px;
	max-height: 300px;
	float: left;
	clear: none;
}